
body {
    background-color: aquamarine;
}

.figury {
    height: 250px;
    width: 400px;
    border-radius: 10px;
}

.bryly {
    height: 250px;
    width: 400px;
    border-radius: 10px;
}

.rzadek {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
    margin: 10px;
    border: 5px solid green;
    border-radius: 13px;
    box-shadow: 13px 13px 29px rgba(0, 0, 0, 0.4); /* Poprawione rgba */
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* Zmienione na box-shadow, bo to animujesz */
}

.rzadek:hover {
    transform: scale(1.1);
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.7);
}

.prst {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

.szcz {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

.rowna {
    height: 250px;
    width: 400px;
    border-radius: 10px;
}

.dodatek {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    border: 5px solid green;
    border-radius: 13px;
    padding: 10px; /* Dodajmy mu trochę paddingu, żeby tekst nie dotykał ramki */
    margin: 10px;
    box-shadow: 13px 13px 29px rgba(0, 0, 0, 0.4); /* Poprawione rgba */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.dodatek:hover {
    transform: scale(1.1); /* Zmniejszyłem z 1.5 na 1.1, przy 1.5 kafelek byłby gigantyczny i zasłoniłby resztę! */
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.7);
}
.zdjfrk{
   width: 200px;
   height: auto;
   border-radius: 15px;
}
.fraktale{
display: inline-flex;
align-items: center;
flex-direction: column;
border: 5px solid green;
border-radius: 15px;
margin: 10px;
padding: 10px;
box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.7);
transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.fraktale:hover{
   transform: scale(1.2);
   box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.9);
}
.sfm{
    width: 250px;
    height: 200px;
    border-radius: 13px;
}
.sofizmaty{
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    border: 5px solid green;
    border-radius: 13px;
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.7);
    transition: transform     0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin: 10px;
    padding: 10px;
}
.sofizmaty:hover{
    transform: scale(1.2);
    box-shadow: 30px 30px 45px rgba(0,0,0,0.9);
}

